

<header>
<h1>Picture Perfect!</h1>
<h4>a simple photo gallery for friends...and enemies...</h4>
<nav>
<%= link_to '+ add a photo!', new_picture_path %>
</nav>
</header>
<!-- <p id="notice"><%= notice %></p> -->

  <main>
    <div class="main">
      <% @pictures.each do |picture| %>
        <span class="title"><%= link_to picture.title, picture %></span>
        <br>
        <span class="photo"><%= image_tag picture.url %></span>
          <ul class=todo>
            <li><%= link_to 'view', picture %></li>
            <li><%= link_to 'edit', edit_picture_path(picture) %></li>
            <li><%= link_to 'delete', picture, method: :delete, data: { confirm: 'You sure about that??' } %></li>
          </ul>
      <% end %>
    </div>
  </main>

<br>


